*{
    box-sizing: border-box;
}
body{
    padding: 20px 60px;
    /* padding: 20px; */
    font-family: Arial, Helvetica, sans-serif;
}
/* .container{
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
} */

.title{
    text-align: center;
    margin-bottom: 20px;
}

label{
    display: block;
    font-size: 16px;
    margin-top: 5px;
    margin-bottom: 0px;
}
input,
select,
option,
button{
    padding: 5px;
    margin: 8px auto;
    border-radius: 5px;
    background-color: #f2f2f2;
    font-size: 14px;
    cursor: pointer;
    width: 100%;
    /* box-sizing: border-box; */
}


input[type=text],
input[type=number]{
    /* padding: 5px; */
    background-color: aliceblue;
    color: black;
    font-size: 18px;
    width: 100%;
    border-radius: 5px;
    margin: 10px auto;
    cursor:auto;
}

button,
input[type=submit],
input[type=reset]{
    margin-right: auto ;
    margin-left: auto;
    min-width: 140px;
    width: 100%;
    background-color: #D1D1D1;
    color: black;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 5px;
    cursor: pointer;
    padding: 8px 12px;

}

#delete_button{
    background-color: #ff0505;
    color: white;
}

p{
    font-size: 18px;
    margin: 12px auto;
}
a{
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    font-size: 16px;
    font-weight: bold;
    margin: 18px auto;
    border-radius: 5px;
    background-color: lightblue;
    padding: 8px 14px ;
    display: inline-flex;

}
form{
    max-width: 300px;
    padding: 0 8px;
    /* margin-right: auto;
    margin-left: auto; */
}

.table-edit-form{
    max-width: 300px;
    padding: 0 8px;
    margin-right: auto;
    margin-left: auto;
}

table{
    width: 100%;
    text-align: center;
}


/* .list{
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
}
.items{
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px;
} */

ul{
    list-style-type: none;
    /* background-color: lightgrey; */
    /* display: inline-block;
    padding: 5px; */
}
td, th{
    padding: 4px;
}

.banner{
    background-image: url(../img/parts_2.jpg);
    background-size: cover;
    background-position: center;
    height: 250px;
    /* width: 100%; */
}


/*////////////////////////*/


.login-box  a {
    background: rgb(27, 67, 84);
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: #03e9f4;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: .5s;
  margin-top: 40px;
  letter-spacing: 4px
}

.login-box a:hover {
  background: #03e9f4;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px #03e9f4,
              0 0 25px #03e9f4,
              0 0 50px #03e9f4,
              0 0 100px #03e9f4;
}

.login-box a span {
  position: absolute;
  display: block;
}

.login-box a span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 4px;
  background: linear-gradient(90deg, transparent, #03e9f4);
  animation: btn-anim1 1s linear infinite;
}

@keyframes btn-anim1 {
  0% {
    left: -100%;
  }
  50%,100% {
    left: 100%;
  }
}

.login-box a span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 4px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #03e9f4);
  animation: btn-anim2 1s linear infinite;
  animation-delay: .25s
}

@keyframes btn-anim2 {
  0% {
    top: -100%;
  }
  50%,100% {
    top: 100%;
  }
}

.login-box a span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 4px;
  background: linear-gradient(270deg, transparent, #03e9f4);
  animation: btn-anim3 1s linear infinite;
  animation-delay: .5s
}

@keyframes btn-anim3 {
  0% {
    right: -100%;
  }
  50%,100% {
    right: 100%;
  }
}

.login-box a span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 4px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #03e9f4);
  animation: btn-anim4 1s linear infinite;
  animation-delay: .75s
}

@keyframes btn-anim4 {
  0% {
    bottom: -100%;
  }
  50%,100% {
    bottom: 100%;
  }
}




/*///////////////////////*/